.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3em;
    grid-row-gap: 2em;
    padding-left: 18px;
    padding-right: 18px;

    .photo {
        position: relative;
        max-width: 151px;
        height: 100%;
        max-height: 151px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            max-height: 151px;
            border-radius: 8px;
            object-fit: cover;
        }
    }
}

.img_delete {
    position: absolute;
    right: -22px;
    top: 0px;
    width: 44px !important;
    height: 44px;
    background: #ffffff;
    box-shadow: 0px 12px 20px rgb(0 0 0 / 20%);
    border-radius: 100px !important;
    cursor: pointer;
  }

.btn_add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    button {
        position: relative;
        background: #ffffff;
        box-shadow: 0px 12px 24px rgba(3, 74, 104, 0.12);
        border-radius: 24px;
        border: none;
        height: 88px;
        width: 100%;
        max-width: 319px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            font-family: Panton;
            font-weight: 600;
            font-size: 22px;
            line-height: 24px;
        }
        i {
            margin-right: 12px;
        }
    }
}



.photo_wrap{
    height: 50%;
    overflow: scroll;
    overflow-x:hidden;
}

.photo_wrap::-webkit-scrollbar {
    width: 5px;
    background-color: #f9f9fd;
}

.photo_wrap::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #18aaaa;
}

.photo_wrap::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: #f9f9fd;
}

label{
    position: absolute;
    width: 100%;
    height: 88px;
}

#upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }
