.container {
    min-height: 100vh;
    background-image: url(../assets/img/fon.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.lomobil_wrapper {
    display: flex;
    flex-direction: column;
    max-width: 851px;
    max-height: 788px;
    width: 100%;
    height: 88vh;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(94px);
    border-radius: 12px;
    font-family: "panton";
    .header {
        width: 100%;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.08));
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        // margin-bottom: 314px;
        margin-bottom: 34vh;
        overflow: scroll;
        overflow-x:hidden;
    }

    .content::-webkit-scrollbar {
        width: 10px;
        background-color: #f9f9fd;
    }

    .content::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: #18aaaa;
    }

    .content::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background-color: #f9f9fd;
    }
}

app-slider {
    height: 100%;
}
