<div class="container">
  <div class="lomobil_wrapper">
    <div class="header">
      <h1>LOMOBIL</h1>
    </div>
    <div class="content">
      <app-slider *ngIf="gallery"></app-slider>
      <ng-container *ngIf="loading">
        <div class="content_wrap">
          <div class="title">
            <span>Фотографии загружаются</span>
          </div>
          <app-preloader></app-preloader>
        </div>
      </ng-container>
      <ng-container #main *ngIf="main">
        <div class="content_wrap">
          <div class="title">
            <span>Выберите фотографии для загрузки в Lomobil</span>
          </div>
          <div class="btn btn_wrap">
            <button>
              <i class="icon icon-download"></i>
              <span>Добавить фотографии</span>
            </button>
          </div>
        </div>
      </ng-container>
      <ng-container #main *ngIf="error">
        <div class="content_wrap">
          <div class="title">
            <span>Ошибка загрузки. Попробуйте еще раз.</span>
          </div>
          <div class="btn btn_wrap">
            <button>
              <span>Ok</span>
            </button>
          </div>
        </div>
      </ng-container>
      <ng-container #main *ngIf="success">
        <div class="content_wrap">
          <i class="icon icon-success"></i>
          <div class="title">
            <span>Фотографии успешно загружены!</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>


