.icon {
    width: 100%;
    height: 100%;
    font-size: 14px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    &-download {
        width: 48px;
        height: 48px;
        background-color: transparent;
        background-image: url(./../img/svg/download.svg);
        background-position: center;
    }

    &-add {
        width: 48px;
        height: 48px;
        background-color: transparent;
        background-image: url(./../img/svg/add.svg);
        background-position: center;
    }

    &-success {
        width: 160px;
        height: 160px;
        background-color: transparent;
        background-image: url(./../img/svg/success.svg);
        background-position: center;
        
    }
}